@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;800;900&display=swap');

.hover-effect::after {
	position: absolute;
	content: '';
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 1.5px;
	background: var(--accent-clr);

	transform: scaleX(0);
	transform-origin: left;
	transition: all 300ms ease-in-out;
}

.hover-effect:hover::after {
	transform-origin: right;
	transform: scaleX(1);
}


.mail-link {
	display: flex;
	margin-block-start: var(--section-mt);
	width: max-content;
	transition: var(--transition-clr);
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.mail-link:hover {
	color: var(--accent-clr);
	text-decoration: none;
}